<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao Blog do Node</h1>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/usuario/registro" role="button">Crie uma Conta</a>
  </p>
</div>
<hr>
<h2>Postagens Recentes</h2>

{{#each docs}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-primary">Leia Mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Criado em: {{data}}</small>
    </div>
</div>
{{else}}
    <h4>Nenhuma Postagem...</h4>
{{/each}}